{% extends "layout.html" %} {% block main %}

<!--
  View for /sheet route
-->

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

<h1 class="mb-4 text-center display-4">Survey Data</h1>

<div class="container table-cont">
  <table class="table table-hover table-responsive-sm" id="table">
    <thead class="thead-light">
      <th>Name</th>
      <th>E-Mail</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>Choice</th>
    </thead>
    <tbody>
      {% for d in data %} {% if d %}
      <tr>
        <td>
          {{ d[0] }}
        </td>
        <td>
          {{ d[1] }}
        </td>
        <td>
          {{ d[2] }}
        </td>
        <td>
          {{ d[3] }}
        </td>
        <td>
          {{ d[4] }}
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/table.js"></script>

{% endblock %}